# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# macOS / Windows
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Pygame / assets temp
*.log

# Build files
build/
dist/
*.egg-info/

data/story/save.json